# Environment variables / secrets
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/